 h1{
 	font-family: Arial;
	font-size: 24px;
	font-weight: normal;
	color: #efefef;
	background-color: #BB6017;
	margin: 2px 0px 20px 0px;
	padding: 5px;
	border-bottom: 2px solid #4D8353;
 }

 body{
 	background-image: url("http://www.planwallpaper.com/static/images/Nature-Background-Wallpapers-8_gxwmqmj.jpg");
    background-size: cover;
 }

 #p1{
 	margin: 10px 0px 10px 30px;
	font-size: 16px;
 }

 .t1:hover{
 	padding-left: 10px;
 }